body {
	background-color: #1696FF;
	color: white;
	text-decoration: none;
}

#content {
	margin-top: 15%;
	margin-bottom: 15%;
	text-align: center;
	font-family: "Noto Sans","Segoe UI",Arial,Helvetica,sans-serif;
}

.linklist > ul > li {
    display: inline-block;
    zoom: 1;
    *display:inline;
}

.link {
	text-decoration: none;
	color: #05253F;
}