body {
	background-color: #1696FF;
	color: white;
	text-decoration: none;
}

#content {
	text-align: center;
	font-family: "Noto Sans","Segoe UI",Arial,Helvetica,sans-serif;
}

#links > ul > li {
    display: inline-block;
    zoom: 1;
    *display:inline;
}

.link {
	text-decoration: none;
	color: #053f74;
}